@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
}

:root {
  --clr-dark-text: hsl(229, 25%, 31%);
  --clr-score-text: hsl(229, 64%, 46%);
  --clr-header-outline: hsl(217, 16%, 45%);
  --clr-text: hsl(0, 0%, 100%);
  --max-width: 1366px;
}

body {
  height: 100svh;
  background-image: radial-gradient(
    circle at center,
    hsl(214, 47%, 23%) 0,
    hsl(237, 49%, 15%) 100%
  );
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

/* utility classes */
.wrapper {
  max-width: var(--max-width);
  margin-inline: auto;
  width: calc(100% - 2rem);
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* score card container */
.score-card-container {
  position: fixed;
  top: 5vh;
  left: 0;
  right: 0;
  width: calc(100% - 2rem);
  max-width: 800px;
  padding: 1rem;
  margin-inline: auto;
  border-radius: 1rem;
  border: 3px solid var(--clr-header-outline);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.score-card-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 700;
  font-size: clamp(30px, 4vw, 40px);
  line-height: clamp(22px, 4vw, 30px);
  text-transform: uppercase;
  color: var(--clr-text);
}

.score-card {
  background-color: var(--clr-text);
  align-self: stretch;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.score-card-text {
  text-transform: uppercase;
  color: var(--clr-score-text);
}

.score-card-number {
  font-size: clamp(30px, 3vw, 40px);
  color: var(--clr-dark-text);
}

/* game area container */
.game-area-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  /* background: white; */
}

.game-area-container.deactivate {
  display: none;
}

.game-inside-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.icon-inside-container {
  background-color: white;
  padding: 1rem;
  border-radius: 50%;
  position: absolute;
  width: 150px;
  height: 150px;
}

.rock-inside-container {
  top: -75px;
  left: -75px;
  border: 1rem solid hsl(349, 71%, 52%);
}

.paper-inside-container {
  top: -75px;
  left: calc(100% - 75px);
  border: 1rem solid hsl(230, 89%, 62%);
}

.scissors-inside-container {
  top: calc(100% - 75px);
  left: 50%;
  transform: translateX(-50%);
  border: 1rem solid hsl(39, 89%, 49%);
}

/* game decision container */
.game-decision-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: calc(100% - 2rem);
  max-width: 800px;
}

.game-decision-inside-container {
  display: flex;
  justify-content: space-between;
}

.game-decision-container.active {
  display: block;
}

.your-choice-container,
.computer-choice-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  color: var(--clr-text);
  padding-inline: 1rem;
}

.your-choice-container h1,
.computer-choice-container h1 {
  font-size: clamp(20px, 3vw, 40px);
}

.your-choice,
.computer-choice {
  width: 200px;
  height: 200px;
  background-color: hsla(0, 0%, 0%, 0.2);
  border-radius: 50%;
}

.rock-choice,
.paper-choice,
.scissors-choice {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: white;
}

.game-decision-button {
  margin-block: 1rem;
}

.game-decision-button .game-decision {
  font-size: clamp(30px, 5vw, 50px);
  color: var(--clr-text);
  text-align: center;
  text-transform: uppercase;
}

.game-decision-button {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.game-decision-button button {
  width: 100%;
  max-width: 250px;
  margin-inline: auto;
}

/* rules container */
.rules-container {
  position: fixed;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--clr-text);
  padding: 20px;
  width: calc(100% - 2rem);
  max-width: 400px;
  border-radius: 1rem;
  transition: all cubic-bezier(0.47, 1.64, 0.41, 0.8) 400ms;
}

.rules-container.active {
  top: 50%;
}

.rules-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.rules-close-icon {
  cursor: pointer;
}

.rules-img {
  margin-inline: auto;
}

/* rule button */
.rule-btn-container {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0 1rem 1rem 0;
  max-width: var(--max-width) !important;
  width: 100%;
  margin-inline: auto;
}

.rule-btn,
.game-decision-button button {
  padding: 0.5rem 1rem;
  font-size: clamp(18px, 3vw, 20px);
  background-color: transparent;
  color: var(--clr-text);
  border: 1px solid var(--clr-text);
  border-radius: 5px;
  font-weight: 500;
}

.rule-btn.active {
  background-color: var(--clr-text);
  color: var(--clr-dark-text);
}

.draw {
  color: hsl(39, 89%, 49%) !important;
}

.win {
  color: hsl(120, 39%, 54%) !important;
}

.lost {
  color: hsl(349, 71%, 52%) !important;
}

@media (width <= 460px) {
  .your-choice,
  .computer-choice {
    width: 120px;
    height: 120px;
  }
}
